.item-container{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 10vh;
}
.item-container img {
    object-fit: contain;
    width: 400px;
    height: 400px;
    border-radius: 49px;
}
.item-details  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

@media (max-width:670px) {
    .item-container img {
    width: 300px;
    height: 300px;
    border-radius: 29px;
}
.item-details  {
   
    width: 100%;
}
}